* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    width: 1688px;
    background-color: rgb(196, 191, 201, 25%);
    position: absolute;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-left: 70px;
}

.mnavbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 180px;
    height: 40px;
    cursor: pointer;
}

.write {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.write p {
    color: white;
    cursor: pointer;
}

.bn {
    background-color: #BA71DA;
    width: 125px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    cursor: pointer;
}

.bars {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
}

.bars i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    cursor: pointer;
}

.main img {
    width: 1688px;
}

.search {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 450px;
    left: 550px;
}

.sp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sp strong {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.sp p {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

.isc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.isc input {
    width: 373px;
    height: 43px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.imgsec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 65px;

}

.imgsec div {
    width: 110px;
    height: 100px;
    background-color: rgb(128, 128, 128, 25%);
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imgsec img {
    width: 55px;
    height: 50px;
    cursor: pointer;
}

.imgsec p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.head p {
    color: gray;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    ;
}

.head strong {
    margin-top: 25px;
    font-size: 36px;
    font-family: Poppins, sans-serif;
    ;
}

.imgf {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

.imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.imgf div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgs div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgf img {
    width: 370px;
    height: 370px;
}

.imgs img {
    width: 370px;
    height: 370px;
}

.cntry {
    cursor: pointer;
    position: relative;
}   
.nma {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    left: 25px;
}

.nma strong {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 20px;
}

.nma p {
    color: white;
    font-size: 14px;
}